*.js linguist-detectable=false
*.mjs linguist-detectable=false
*.tsx linguist-detectable=false
*.css linguist-detectable=false
*.vue linguist-detectable=false
*.svelte linguist-detectable=false
*.ts linguist-detectable=false