---
import "../../styles/global.css";
import Head from "../components/Head.astro"
---

<html lang="en">
	<head>
		<Head />
	</head>
	<body>
		<h1 class="text-3xl">Astro Fadlan Test</h1>
	</body>
</html>

<style>
</style>
