---
import "../../styles/global.css";
import Head from "../components/Head.astro"
import HeroLayer from "../components/solid/HeroLayer.tsx"
---

<html lang="en">
	<head>
		<Head />
	</head>
  <body>
		<HeroLayer client:load /> 
	</body>
</html>
