.diagonal-arrow-up {
    background-color: red;
    -webkit-mask: url(../public/assets/diagonal-up-right-arrow.svg) no-repeat center;
    mask: url(../public/assets/diagonal-up-right-arrow.svg) no-repeat center;
}